<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="styles_base.css">
    </head>
    <body>
        <h1>Orange claw hammer</h1>
        <p>Uh thick cloud caught uh piper cubs tail. The match struck blue on uh railroad rail. The old puff horse was just pullin' through 'n uh' man wore uh peg leg forever. I'm on the bum where the hoboes run. The air breaks with filthy chatter.</p>

        <h2>Oh I don't care there's no place there.</h2>

        <p>I don't think it matters. My skin's blazin' through 'n my clothes in tatters 'n the railroad looks like uh "why" up the hill of ladders. One shoe fell on the gravel. One stick poked down, gray of age fell down on uh pair of ears. An eagle shined through my hole watch pocket.</p>

        <ol>
            <li>Uh gingham girl baby girl passed me by in tears.</li>
            <li>Uh jack rabbit raised his folded ears, uh beautiful sagebrush jack rabbit.</li>
            <li>'N an oriole sang like an orange. His breast full uh worms 'n his tail clawed the evenin' like uh hammer.</li>
            <li>His wings took t' air like uh bomber 'n my rain can caught me uh cup uh water.</li>
        </ol>

        <p>When I got into town: Odd jobs mam ah' yer horse I'll fodder. I'm the round house man. I once was yer father. Uh little up the road uh wooden candy stripe barber pole 'n above it read uh sign:</p>

        <blockquote>
            "painless parker".
        </blockquote>

        <h1>Licorice twisted around under uh fly 'n uh youngster cocked 'er eye.</h1>
        <h2>God before me - if I'm not crazy - is my daughter.</h2>
        <h3>Come little one with yer little ole dimpled fingers.</h3>
        <p>Gimme one 'n I'll buy you uh cherry phosphate. Take you down t' the foamin' brine 'n water 'n show you the wooden tits on the Goddess with the pole out full sail that tempted away yer peg legged father.</p>

        <ul>
            <li>I was shanghied by uh high hat beaver mustache man 'n his pirate friend.</li>
            <li>I woke up in vomit 'n beer in uh banana bin.
                <ol>
                    <li>'N uh soft lass with brown skin bore me seven babies with snappin black eyes 'n beautiful ebony skin.</li>
                    <li>'N here it is I'm with you my daughter.</li>
                </ol>
            </li>
            <li>Thirty years away can make uh seaman's eyes uh round house man's eyes flow out water, salt water.</li>
        </ul>
